<form role="form" name="passwordForm" ng-submit="passwordForm.$valid && $close(password)" novalidate>
<div class="modal-header">
	<h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
	<div ng-repeat="msg in msgs">
		<alert ng-repeat="m in msg" type="danger" >{{m}}</alert>
	</div>
	<div class="form-group">
		<label for="passwordForm-currentPassword">Current Password</label>
		<input class="form-control" id="passwordForm-currentPassword" type="password" placeholder="Current Password" ng-model="password.currentPassword" name="currentPassword" required />
	</div>
	<div ng-show="!passwordForm.currentPassword.$pristine && passwordForm.currentPassword.$error.required" class="alert alert-danger" role="alert">
		<span>Current password is required.</span>
	</div>
	<div class="form-group">
		<label for="passwordForm-newPassword">New Password</label>
		<input class="form-control" id="passwordForm-newPassword" type="password" placeholder="New Password" ng-model="password.newPassword" name="newPassword" required same="password.confirm" />
	</div>
	<div ng-show="!passwordForm.newPassword.$pristine && passwordForm.newPassword.$invalid" class="alert alert-danger" role="alert">
		<div ng-show="passwordForm.newPassword.$error.required">New password is required.</div>
		<div ng-show="passwordForm.newPassword.$error.same || passwordForm.confirm.$error.same">New password and New password(confirm) are not same.</div>
	</div>
	<div class="form-group">
		<label for="passwordForm-confirm">New Password(confirm)</label>
		<input class="form-control" id="passwordForm-confirm" type="password" placeholder="New Password(confirm)" ng-model="password.confirm" name="confirm" required same="password.newPassword" />
	</div>
	<div ng-show="!passwordForm.confirm.$pristine && passwordForm.confirm.$error.required" class="alert alert-danger" role="alert">
		<span>New password(confirm) is required.</span>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="!passwordForm.$valid">Update</button>
	<button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
</form>
