 <div class="modal-header">
	<h3 class="modal-title">Profile</h3>
</div>
<div class="modal-body">
	<h4>Profile</h4>
	<form role="form" name="profileForm" ng-submit="profileForm.$valid && update(user)" novalidate>
		<div ng-repeat="msg in msgs">
			<alert ng-repeat="m in msg" type="danger" >{{m}}</alert>
		</div>
		<div class="form-group">
			<label for="profileForm-authId">Auth ID</label>
			<input readonly type="text" class="form-control" id="profileForm-authId" name="authId" ng-model="user.authId" placeholder="Auth ID" required />
			<div ng-show="!profileForm.authId.$pristine && profileForm.authId.$error.required" class="alert alert-danger" role="alert">Auth ID is required.</div>
		</div>
		<div class="form-group">
			<label for="profileForm-username">User Name</label>
			<input type="text" class="form-control" id="profileForm-username" name="username" ng-model="user.name" placeholder="User Name" required />
			<div ng-show="!profileForm.username.$pristine && profileForm.username.$error.required" class="alert alert-danger" role="alert">User name is required.</div>
		</div>
		<div class="form-group">
			<label for="profileForm-email">Email Address</label>
			<input type="email" class="form-control" id="profileForm-email" name="email" ng-model="user.email" placeholder="EMail Address" required />
			<div ng-show="!profileForm.email.$pristine && profileForm.email.$invalid" class="alert alert-danger" role="alert">
				<div ng-show="profileForm.email.$error.required">Email is required.</div>
				<div ng-show="profileForm.email.$error.email">Email is invalid.</div>
			</div>
		</div>
		<div class="form-group">
			<label for="profileForm-role">Role</label>
			<select ng-disabled="!isAdmin()" id="profileForm-role" class="form-control" name="role" ng-model="user.role" required >
				<option value="editor">editor</option>
				<option value="admin">admin</option>
			</select>
		</div>
		<button class="btn btn-default" ng-disabled="!profileForm.$valid">Update</button>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$dismiss()">Close</button>
</div>
