<form role="form" name="recoveryRequestForm" ng-submit="recoveryRequestForm.$valid && send(recoveryRequest)" novalidate>
<div class="modal-header">
	<h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
	<div ng-repeat="msg in msgs">
		<alert ng-repeat="m in msg" type="danger" >{{m}}</alert>
	</div>
	<alert type="success" ng-show="success" >Please, check your mail box.</alert>
	<div class="form-group">
		<label for="recoveryRequestForm-email">Email Address</label>
		<input  class="form-control" id="recoveryRequestForm-email" type="email" placeholder="Enter your email" ng-model="recoveryRequest.email" name="email" required />
		<div ng-show="!recoveryRequestForm.email.$pristine && recoveryRequestForm.email.$invalid" class="alert alert-danger" role="alert">
			<div ng-show="recoveryRequestForm.email.$error.required">Email is required.</div>
			<div ng-show="recoveryRequestForm.email.$error.email">Email is invalid.</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" ng-disabled="!recoveryRequestForm.$valid">Send</button>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
</form>
